---
layout: page
---

{{ content }}
<ul id="archive">
      <li class="archivepoturl" style="background: transparent">
            <span><a href={{ site.assignments.01_sample_assignment }}>First Assignment</a></span>
            <strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right">
                  <a title="Download problems (pdf)" href="https://google.com"><i class="fas fa-file-pdf"></i></a> 
            </strong> 
      </li>
      <li class="archivepoturl" style="background: transparent">
            <span><a href="/CS-AP/_assignments/02_sample_assignment">Second Assignment</a></span>
            <strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right">
                  <a title="Download problems (pdf)" href="https://google.com"><i class="fas fa-file-pdf"></i></a> 
            </strong> 
      </li>
      <li class="archivepoturl" style="background: transparent">
            <span><a href="/CS-AP/_assignments/03_sample_assignment">Third Assignment</a></span>
            <strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right">
                  <a title="Download problems (pdf)" href="https://google.com"><i class="fas fa-file-pdf"></i></a> 
            </strong> 
      </li>
<!-- {% for asg in site.assignments %}
      <li class="archiveposturl" style="background: transparent">
            <span><a href="{{ asg.url | prepend: site.baseurl}}">{{ asg.title }}</a></span>
            <strong style="font-size:100%; font-family: 'Titillium Web', sans-serif; float:right">
                  <a title="Download problems (pdf)" href="{{ asg.pdf }}"><i class="fas fa-file-pdf"></i></a> 
                  {% if asg.attachment %}
                  &nbsp; <a title="Download attachments (zip)" href="{{ asg.attachment | prepend: site.baseurl }}"><i class="fas fa-file-archive"></i></a>
                  {% endif %}
            </strong> 
      </li>
{% endfor %} -->
</ul>